.App {
  min-height: 100vh;
  max-width: 100rem;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  }
  
   /* added for accessibility ,skipping the main content 
 hiddesm until the user uses the keys to focus*/
.skip-link {
  position: absolute;
  left: -1000px;
  top: 20px;
  z-index: 999;
  background: var(--color-tomato);
  color: #fff;
  padding: 8px 12px;
}

.skip-link:focus {
  left: 0;
}