h1 {
    color: #feee7d;
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
  
  }
  
  
  .JokeList-joke{
    height: 500px;
    background: white;
    align-self: center;
    overflow: scroll;
  }
  