@import "./index.scss";
.JokeList {
    &__title {
        font-size: 8rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        text-align: center;
        color: var(--color-grey-dark-1); 
        @media only screen and (max-width: $bp-small) {
            font-size: 6rem;
        }
    }
    &__Joke {
         overflow: scroll;
         height: 50rem;
         background-color: var(--color-grey-light-1);
         box-shadow: 0 2rem 6rem rgba(0,0,0,.3);
         margin: 1rem 0;  
    }
    &__heading {
        font-size: 3.6rem;
        text-align: center;
        color: var(--color-grey-dark-1);
        @media only screen and (max-width: $bp-small) {
            margin-bottom: 3rem;
        }
    }
    &__btn {
        padding: 1.3rem 4.4rem;
        background-color: #f78888;
        font-size: 2.4rem;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 2px;
        border-radius: 100px;
        border: none;
        cursor: pointer;
        box-shadow: 0 2rem 6rem rgba(0,0,0,.3);
        transition: all cubic-bezier(.47,.66,.66,.4);

        @media only screen and (max-width: $bp-small) {
            padding: 1rem 3rem;
            font-size: 2rem;
        }
        
        &:hover {
            transform: translateY(-2px);
            background-color: darken(#f78888, 5%);
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
        }
        &:focus {
            outline: none;
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
        }
    }
    &__info {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        margin-top: 3rem;
        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &__vote {
        font-size: 1.8rem;
        color: var(--color-primary);
        font-family: 'Montserrat', sans-serif;
        border: var(--color-tomato); 
        &-up {
            color: var(--color-secondary);
        }
       &-down {
        color: var(--color-secondary);
       }

    }
}
.underline--magical {
        background-image: linear-gradient(120deg, var(--color-primary) 0%, var(--color-primary) 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.2em;
        background-position: 0 88%;
        transition: background-size 0.25s ease-in;   
    &:hover {
        background-size: 100% 88%;
    }
}
.Loading {
        display: flex;
        justify-content: center;
        align-items: center;

    &__title {
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
}
.fa-spin {
        color: var(--color-primary);
        font-size: 7rem;
        margin-right: 3rem;
}